<!DOCTYPE html>
{% load static %}
<html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=0.1">
        <link rel="stylesheet" href="{% static 'signup.css' %}">
        <title>Signup</title>
        <style>
            
        </style>
    </head>
<body >
    <form action="signup" method='post' >
        {% csrf_token %}
       
        <div id='div1'>
            <div id='div2'>
                <div id='heading'>
                <div class='a'>
                    
                  
            Get Register Here
            <br/>
            <hr>
            <label id='uname'>Username</label>
            <br/>
            <input type='text' id='uname' name='uname'  autofocus required />
            <br/>
            <label id='email'>Email</label>
            <br/>
            <input type='text' id='email' name='email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  size='50'  required   />
            <br/>
            <label id='password'>Password</label>
            <br/>
            <input type='password' required id='password' name='password'  />
            <br/>
            
            
            <input type='submit' id='a' value='Submit'/>
            <br/>
            
           
                
            
            
        </div>
    </div>
    </div>
    </form>
</body>
<html>